{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">SHS Item Store</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Welcome, {{ name }}</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{% url 'main:logout' %}" class="nav-link">
                        <button class="btn btn-outline-light me-2" type="button">Logout</button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <h1>Your Items</h1>

        <h5>Name:</h5>
        <p>{{ name }}</p>

        <h5>Class:</h5>
        <p>{{ class }}</p>

        <h5>NPM:</h5>
        <p>{{ npm }}</p>

        <h3 id="total_items">You have {{ total_items }} items</h3>

        <div class="row" id="item_container"></div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Item</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form" onsubmit="return false;">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="name" class="col-form-label">Name:</label>
                                <input type="text" class="form-control" id="name" name="name" />
                            </div>
                            <div class="mb-3">
                                <label for="amount" class="col-form-label">Amount:</label>
                                <input type="number" class="form-control" id="amount" name="amount" />
                            </div>
                            <div class="mb-3">
                                <label for="description" class="col-form-label">Description:</label>
                                <textarea class="form-control" id="description" name="description"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Item</button>
                    </div>
                </div>
            </div>
        </div>

        <h5>Last login session: {{ last_login }}</h5>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Item by AJAX</button>
    </div>

    <script>
        async function getItems() {
            return fetch("{% url 'main:get_item_json' %}").then((res) => res.json());
        }

        async function refreshItems() {
            document.getElementById("item_container").innerHTML = "";
            const items = await getItems();

            items.forEach((item) => {
                const card = document.createElement("div");
                card.className = "col-md-4";

                card.innerHTML = `
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">${item.fields.name}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Amount: ${item.fields.amount}</h6>
                            <p class="card-text">${item.fields.description}</p>
                            <p class="card-text">Date Added: ${item.fields.date_added}</p>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-danger" data-url="{% url 'main:delete_item_ajax' 123 %}" onclick="deleteItem(this, ${item.pk})">Delete</button>
                            <button class="btn btn-success" onclick="increaseAmount(${item.pk})">Increase</button>
                            <button class="btn btn-warning" onclick="decreaseAmount(${item.pk})">Decrease</button>
                            <a href="edit-item/${item.pk}"><button class="btn btn-primary">Edit</button></a>
                        </div>
                    </div>
                `;

                document.getElementById("item_container").appendChild(card);
            });

            // Update total_items
            document.getElementById("total_items").textContent = `You have ${items.length} items`;
        }

        refreshItems();

        function addItem() {
            fetch("{% url 'main:add_item_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form')),
            }).then(refreshItems);

            document.getElementById("form").reset();
            return false;
        }

        document.getElementById("button_add").onclick = addItem;

        function deleteItem(button, id) {
            let url = button.getAttribute('data-url').replace('123', id);
            fetch(url, {
                method: "DELETE",
            }).then(refreshItems);
        }

        async function increaseAmount(item_id) {
            const response = await fetch(`/increase_amount/${item_id}/`, {
                method: 'POST',
            });

            if (response.status === 200) {
                refreshItems();
            }
        }

        async function decreaseAmount(item_id) {
            const response = await fetch(`/decrease_amount/${item_id}/`, {
                method: 'POST',
            });

            if (response.status === 200) {
                refreshItems();
            }
        }
    </script>
{% endblock content %}
